.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgb(189, 78, 78);
  justify-content: center;
  font-style: italic;
  width: 100%;
}

.navbar > h2 {
  color: rgb(255, 229, 195);
  position: relative;
  top: 1rem;
}

.navbar-items {
  width: 5rem;
  padding: 10px;
  animation: rotatePic infinite 10s linear;
}

@keyframes rotatePic {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-cont {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 7rem;
  z-index: -1;
}

.main-cont > img {
  width: 50%;
  padding: 20px;
  border-radius: 50px;
}

.main-sub-cont > a {
  color: brown;
}

.location-cont {
  display: flex;

}

.location-cont > img {
  width: 9%;
  padding: 10px;
  border-radius: 2rem;
}

.main-sub-cont {
  display: flex;
  flex-direction: column;
  padding: 2px;
}